@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@500&family=Titillium+Web:wght@700&family=Zen+Kaku+Gothic+New&display=swap');

:root {
    --main-green: #4CAF4F;
    --title-grey: #4D4D4D;
    --subtitle-grey: #717171;
    --footer-white: #FFF;
    --footer-links: #F5F7FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0 2em 0;
    background: var(--footer-links);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.mobile-nav-links {
    position: fixed;
    background: var(--footer-links);
    width: 100%;
    text-align: center;
    z-index: 50;
    margin-top: 6.25em;
}

.mobile-nav-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 4em 0 4em 0;
}

.mobile-nav-links ul a {
    text-decoration: none;
    color: #18191F;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

.mobile-nav-links ul li:hover {
    scale: 1.2;
    filter: drop-shadow(0 0 .75em rgba(0, 0, 0, 0.5));
    transition: all .5s ease;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: #18191F;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.btn-primary {
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    background: var(--main-green);
    border: none;
    border-radius: 6px;
    color: var(--footer-white);
    cursor: pointer;
}

.btn-primary:hover {
    padding: 10px 24px;
    background: #fff;
    border: 1px #4CAF4F solid;
    color: #4CAF4F;
    transition: all .5s;
}

.btn-secondary {
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    background: var(--footer-links);
    border: none;
    border-radius: 6px;
    color: var(--main-green);
    cursor: pointer;
}

.btn-secondary:hover {
    padding: 10px 24px;
    background: #fff;
    border: 1px #4CAF4F solid;
    transition: all .5s;
}

#hero-section {
    background: var(--footer-links);
    margin-top: 6.25em;
    z-index: 999;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 6em 9em;
}

.hero-container .left-container {
    width: 46em;
}

.hero-container .left-container h2 {
    color: var(--title-grey);
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
}

.hero-container .left-container h2 span {
    color: var(--main-green);
}

.hero-container .left-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    padding: 1em 0em 2em 0em;
}

.hero-container .left-container button {
    padding: 1em 2em;
}

.dots {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.dot {
    cursor: pointer;
    height: .75em;
    width: .75em;
    margin: 0 0.125em;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: var(--main-green);
    opacity: 0.3;
}

.active {
    opacity: 1;
}

#hero-section .hero-container .right-container img:hover {
    scale: .95;
    transform: translateY(-.5em);
    background-image: url(./img/blob.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(.25em);
    transition: all 1.5s ease;
}

#clients-section {
    padding: 2em 0;
}

.clients-container {
    padding: 0 9em;
}

.clients-text-container h3 {
    color: var(--title-grey);
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.clients-text-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.clients-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: auto;
    padding-top: 2em;
}

.community-container {
    text-align: center;
    padding: 1em 0;
}

.community-container h2 {
    color: var(--title-grey);
    font-size: 2.25em;
    font-style: normal;
    font-weight: 600;
    padding-bottom: .5em;
}

.community-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.community-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 2em;
    width: 18.75em;
    height: 16.25em;
}

.community-card img {
    width: 3em;
    padding-bottom: 1em;
}

.community-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 9em;
}

.community-cards-container h3 {
    color: var(--title-grey);
    text-align: center;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
    padding-bottom: .5em;
}

.community-cards-container p {
    color: var(--subtitle-grey);
    text-align: center;
    font-size: .875em;
    font-style: normal;
    font-weight: 400;
}

.unlock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 18em;
}

.unlock-left-container img {
    padding: 3.25em 0;
}

.unlock-left-container img:hover {
    scale: .95;
    transform: translateY(-.5em);
    background-image: url(./img/blob.png);
    background-position: center;
    background-size: contain;
    backdrop-filter: blur(.25em);
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 .25rem rgba(0, 0, 0, 0.5));
    transition: all 1.5s ease;
}

.unlock-right-container {
    width: 41.25em;
}

.unlock-right-container h2 {
    color: var(--title-grey);
    font-size: 2.25em;
    font-style: normal;
    font-weight: 600;
}

.unlock-right-container p {
    color: var(--subtitle-grey);
    font-size: .875em;
    font-style: normal;
    font-weight: 400;
    padding: 1em 0em 2em 0em;
}

.unlock-right-container button {
    padding: 1em 2em;
}

.achievements-section {
    padding: 3em 0em;
}

.achievements-container {
    padding: 4em 18em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-links);
}

.achievements-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
}

.achievements-left-container h2 {
    color: var(--title-grey);
    font-size: 2.25em;
    font-style: normal;
    font-weight: 600;
}

.achievements-left-container h2 span {
    color: var(--main-green);
}

.achievements-left-container h4 {
    color: #18191F;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    padding-top: .5em;
}

.achievements-right-container h3 {
    color: var(--title-grey);
    font-size: 1.75em;
    font-style: normal;
    font-weight: 700;
}

.achievements-right-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.achievements-right-container .row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.achievements-right-container .row .row-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 16.25em;
    gap: 1em;
}

.customers-container {
    background: var(--footer-links);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 9em;
}

.customers-logo-container img {
    object-fit: cover;
    height: 20em;
    width: 20em;
    border-radius: .5em;
}

.customers-info-container {
    width: 46.75em;
}

.customers-info-container .logos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5em;
    padding-top: 2em;
}

.customers-info-container .logos-container a {
    color: var(--main-green);
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.customers-info-container .logos-container img {
    aspect-ratio: 3/2;
}

.customers-info-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 1em;
}

.customers-info-container h3 {
    color: var(--main-green);
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75em;
}

.customers-info-container span {
    color: #89939E;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

#community-updates-section {
    padding-top: 3em;
}

.community-text-container {
    padding-bottom: 1em;
    text-align: center;
    width: 39em;
    margin: 0 auto;
}

.community-text-container h2 {
    color: var(--title-grey);
    font-size: 2.25em;
    font-style: normal;
    font-weight: 600;
}

.community-text-container p {
    color: var(--subtitle-grey);
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    padding-top: .5em;
}

.community-piles-container .community-pile .pile-container {
    width: 20em;
    height: 11.25em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    gap: 1em;
    background: var(--footer-white);
    position: absolute;
    z-index: 1;
    margin-top: -6em;
    border-radius: .5em;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    margin-left: 1.25em;
}

.community-piles-container .community-pile .pile-container h4 {
    color: var(--subtitle-grey);
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
    height: 5em;
}

.community-piles-container .community-pile .pile-container a {
    color: var(--main-green);
    text-decoration: none;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
}

.community-piles-container .community-pile img {
    object-fit: cover;
    width: 22.5em;
    height: 18em;
    border-radius: .5em;
}

.community-piles-container {
    display: flex;
    flex-direction: row;
    padding: 0 9em;
    align-items: center;
    justify-content: space-evenly;
}

#frame-16 {
    margin-top: 8em;
    background-color: var(--footer-links);
}

#frame-16 .text-container {
    padding: 2em 0em;
    text-align: center;
}

#frame-16 .text-container h2 {
    color: #263238;
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
}

#frame-16 .text-container button {
    margin-top: 2em;
}

footer {
    background: #263238;
}

footer .footer-container {
    padding: 4em 11em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .footer-container .right-footer {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

footer .footer-container .right-footer .column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

footer .footer-container .left-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

footer .footer-container .left-footer .footer-copy {
    color: var(--footer-links);
    font-size: .875em;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

footer .footer-container .left-footer .footer-socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

footer .footer-container .right-footer h4 {
    color: var(--footer-white);
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
}

footer .footer-container .right-footer ul {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

footer .footer-container .right-footer a {
    text-decoration: none;
    color: var(--footer-links);
    font-size: .875em;
    font-style: normal;
    font-weight: 400;
}

footer .footer-container .right-footer .icon {
    padding-right: 1.5em;
    background: url(./img/send-icon.svg) no-repeat right;
    background-size: 1.25em;
}

footer .footer-container .right-footer input {
    border: none;
    border-radius: .25em;
    background: var(); 
    padding: .5em 0em .5em .75em;
    color: #fff;
}

footer .footer-container .right-footer input:focus {
    outline: none;
    border: 1px var(--subtitle-grey) solid;
    padding: 1em 0em 1em 1.5em;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 1023px) {
    header {
        justify-content: space-between;
        padding: 2em 2em 2em 2em;
    }
    
    .nav-container {
        display: none;
    }

    .btn-container {
        display: none;
    }

    .hamburger-container img {
        width: 2em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .hero-container .left-container h2 {
        font-size: 1.1em;
    }

    .hero-container .left-container p {
        font-size: .6em;
    }

    .hero-container .left-container button {
        font-size: .6em;
    }
    
    .hero-container .right-container img {
        width: 15em;
        padding: 1em 0em;
    }

    .dot {
        width: .5em;
        height: .5em;
    }

    .clients-container {
        padding: 0 1em;
    }

    .clients-logo-container {
        flex-wrap: wrap;
        gap: 2em;
    }

    .community-container h2 {
        font-size: 1.5em;
    }

    .community-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .unlock-container {
        padding: 0;
        flex-direction: column;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 1em;
    }

    .achievements-container {
        padding: 1em 2em;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        width: 100%;
    }

    .achievements-right-container {
        gap: 2em;
        justify-content: center;
        width: 100%;
    }

    .achievements-left-container h2 {
        font-size: 1.5em;
    }

    .achievements-left-container h4 {
        font-size: .75em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .5em;
    }

    .achievements-right-container .row .row-item img {
        width: 1.5em;
    }

    #customers-section {
        padding-top: 1em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 100%;
    }

    .customers-info-container p {
        font-size: .75em;
    }

    .customers-info-container h3 {
        font-size: 1em;
    }

    .customers-info-container span {
        font-size: .75em;
    }

    .customers-info-container .logos-container {
        display: flex;
        flex-wrap: wrap;
    }

    .customers-info-container .logos-container img {
        width: 1.75em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
        flex-wrap: wrap;
        gap: 5em;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 18em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 15.5em;
        height: 9em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: 1em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: .9em;
    }

    .community-text-container {
        width: 100%;
        padding: 0 1em 2em 1em;
    }

    #frame-16 .text-container h2 {
        font-size: 2em;
    }

    footer .footer-container {
        padding-left: .5em;
        padding-right: 0;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 1;
        gap: 3em;
    }

    footer .footer-container .right-footer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    .hero-container .left-container h2 {
        font-size: 1.75em;
    }

    .hero-container .left-container p {
        font-size: .85em;
    }
    
    .hero-container .right-container img {
        padding: 1em 0em;
    }

    .clients-container {
        padding: 0 1em;
    }

    .clients-logo-container {
        flex-wrap: wrap;
        gap: 4em;
    }

    .community-container h2 {
        font-size: 1.5em;
    }

    .community-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .unlock-container {
        padding: 0;
        flex-direction: column;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 1em;
    }

    .achievements-container {
        padding: 1em 2em;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        width: 100%;
    }

    .achievements-right-container {
        gap: 2em;
        justify-content: center;
        width: 100%;
    }

    .achievements-left-container h2 {
        font-size: 2em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1.25em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .75em;
    }

    .achievements-right-container .row .row-item img {
        width: 2em;
    }

    #customers-section {
        padding-top: 1em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 100%;
    }

    .customers-info-container p {
        font-size: .75em;
    }

    .customers-info-container h3 {
        font-size: 1em;
    }

    .customers-info-container span {
        font-size: .75em;
    }

    .customers-info-container .logos-container {
        display: flex;
        flex-wrap: wrap;
    }

    .customers-info-container .logos-container img {
        width: 1.75em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
        flex-wrap: wrap;
        gap: 5em;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 18em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 15.5em;
        height: 9em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: 1em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: .9em;
    }

    .community-text-container {
        width: 100%;
        padding: 0 1em 2em 1em;
    }

    #frame-16 .text-container h2 {
        font-size: 3em;
    }

    footer .footer-container {
        padding-left: .5em;
        padding-right: 0;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 1;
        gap: 3em;
    }

    footer .footer-container .right-footer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 0;
    }

    .hero-container .left-container {
        text-align: center;
    }

    .hero-container .left-container h2 {
        font-size: 2em;
    }

    .hero-container .right-container img {
        width: 25em;
    }

    #dots {
        padding-top: 1em;
    }

    .clients-container {
        padding: 0 1em;
    }

    .clients-logo-container {
        flex-wrap: wrap;
        gap: 2em;
    }

    .community-container h2 {
        font-size: 2em;
    }

    .community-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .unlock-container {
        padding: 0;
        flex-direction: column;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 1.5em;
    }

    .achievements-container {
        padding: 1em 2em;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .achievements-right-container {
        gap: 2em;
    }

    .achievements-left-container h2 {
        font-size: 2em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1.25em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .75em;
    }

    .achievements-right-container .row .row-item img {
        width: 2em;
    }

    #customers-section {
        padding-top: 1em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 100%;
    }

    .customers-info-container p {
        font-size: .75em;
    }

    .customers-info-container h3 {
        font-size: 1em;
    }

    .customers-info-container span {
        font-size: .75em;
    }

    .customers-info-container .logos-container {
        display: flex;
        flex-wrap: wrap;
    }

    .customers-info-container .logos-container img {
        width: 1.75em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
        flex-wrap: wrap;
        gap: 5em;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 18em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 15.5em;
        height: 9em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: 1em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: .9em;
    }

    .community-text-container {
        width: 100%;
        padding: 0 1em 2em 1em;
    }

    footer .footer-container {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 1;
        gap: 3em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
    .hero-container {
        padding: 0;
        justify-content: center;
        align-items: center;
        padding: 0em 1em;
        gap: 1em;
    }

    .hero-container .left-container {
        width: 20em;
    }

    .hero-container .left-container h2 {
        font-size: 3em;
    }

    .hero-container .right-container img {
        width: 20em;
    }

    .dots {
        padding-top: 1em;
    }

    .community-cards-container {
        padding: 0;
        align-items: center;
    }

    .community-cards-container h3 {
        font-size: 1.4em;
    }

    .unlock-container {
        padding: 0;
        flex-direction: row;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 1.75em;
    }

    .achievements-container {
        padding: 1em 2em;
        justify-content: space-evenly;
        align-items: center;
    }

    .achievements-right-container {
        gap: 2em;
    }

    .achievements-left-container h2 {
        font-size: 2em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1.25em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .75em;
    }

    .achievements-right-container .row .row-item img {
        width: 2em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 25em;
    }

    .customers-info-container p {
        font-size: .75em;
    }

    .customers-info-container h3 {
        font-size: 1em;
    }

    .customers-info-container span {
        font-size: .75em;
    }

    .customers-info-container .logos-container {
        display: flex;
        flex-wrap: wrap;
    }

    .customers-info-container .logos-container img {
        width: 1.75em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
        flex-wrap: wrap;
        gap: 5em;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 18em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 15.5em;
        height: 9em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: 1em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: .9em;
    }

    footer .footer-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1023px) {
    .hero-container {
        padding: 0;
        gap: 2em;
    }

    .hero-container .left-container {
        width: 30em;
    }

    .hero-container .left-container h2 {
        font-size: 3.5em;
    }

    .hero-container .right-container img {
        width: 20em;
    }

    .dots {
        padding-top: 1em;
    }

    .community-cards-container {
        padding: 0;
    }

    .unlock-container {
        padding: 0;
        flex-direction: row;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 2em;
    }

    .achievements-container {
        padding: 1em 2em;
        justify-content: space-evenly;
        align-items: center;
    }

    .achievements-right-container {
        gap: 2em;
    }

    .achievements-left-container h2 {
        font-size: 2em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1.25em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .75em;
    }

    .achievements-right-container .row .row-item img {
        width: 2em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 30em;
    }

    .customers-info-container .logos-container img {
        width: 2em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 15em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 12.5em;
        height: 9em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: .8em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: .9em;
    }
    
    footer .footer-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
    .hero-container {
        padding: 0 1em;
    }

    .hero-container .left-container {
        width: 25em;
    }

    .community-cards-container {
        padding: 0;
    }

    .unlock-container {
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }

    .unlock-right-container {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0 1em;
    }

    .unlock-left-container img {
        width: 20em;
    }

    .unlock-right-container h2 {
        font-size: 2.25em;
    }

    .achievements-container {
        padding: 1em 2em;
        justify-content: space-evenly;
        align-items: center;
    }

    .achievements-right-container {
        gap: 2em;
    }

    .achievements-left-container h2 {
        font-size: 2em;
    }

    .achievements-right-container .row {
        gap: 0em;
    }

    .achievements-right-container .row .row-item h3 {
        font-size: 1.25em;
    }

    .achievements-right-container .row .row-item p {
        font-size: .75em;
    }

    .achievements-right-container .row .row-item img {
        width: 2em;
    }

    .customers-container {
        padding: 2em;
        align-items: center;
    }

    .customers-logo-container img {
        width: 15em;
        height: 15em;
    }

    .customers-info-container {
        width: 40em;
    }

    .customers-info-container .logos-container img {
        width: 2em;
    }

    .customers-info-container .logos-container a {
        font-size: .75em;
    }

    .community-piles-container {
        padding: 0;
    }

    .community-piles-container .community-pile img {
        aspect-ratio: 5/4;
        width: 18em;
    }

    .community-piles-container .community-pile .pile-container {
        width: 15.5em;
    }

    .community-piles-container .community-pile .pile-container h4 {
        font-size: 1.1em;
    }

    .community-piles-container .community-pile .pile-container a {
        font-size: 1.1em;
    }

    footer .footer-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .hamburger-container {
        display: none;
    }
}